<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
                <div class="dropdown-menu border-0" aria-labelledby="all-products-link"></div>
            </div>
        </li>

         <!-- Apparel -->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-dark mr-5" href="#" id="apparel-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Apparel
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="apparel-link">
                <a href="{% url 'products' %}?category=activewear" class="dropdown-item">Activewear</a>
                <a href="{% url 'products' %}?category=shoes" class="dropdown-item">Shoes</a>
                <a href="{% url 'products' %}?category=activewear,shoes" class="dropdown-item">All Apparel</a>
            </div>
        </li>

        <!-- Equipment -->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-dark mr-5" href="#" id="equipment-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Equipment
            <div class="dropdown-menu border-0" aria-labelledby="equipment-link">
                <a href="{% url 'products' %}?category=training-machines" class="dropdown-item">Training Machines</a>
                <a href="{% url 'products' %}?category=training-machines" class="dropdown-item">All Equipment</a>
        </li>

         <!-- Supplements -->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-dark mr-5" href="#" id="supplements-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Supplements
            <div class="dropdown-menu border-0" aria-labelledby="supplements-link">
                <a href="{% url 'products' %}?category=protein" class="dropdown-item">Protein</a>
                <a href="{% url 'products' %}?category=supplements" class="dropdown-item">Other Supplements</a>
                <a href="{% url 'products' %}?category=protein,supplements" class="dropdown-item">All Supplements</a>
        </li>

     <!-- Yoga -->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-dark mr-5" href="#" id="yoga-link" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Yoga
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="yoga-link">
                <a href="{% url 'products' %}?category=yoga-classes" class="dropdown-item">Yoga Classes</a>
                <a href="{% url 'products' %}?category=yoga-accessories" class="dropdown-item">Yoga Accessories</a>
                <a href="{% url 'products' %}?category=yoga-classes,yoga-accessories" class="dropdown-item">All Yoga</a>
            </div>
        </li>

        <!-- Specials -->
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-dark"
                href="{% url 'products' %}?category=special-offers">
                Special Offers
            </a>
        </li>
        
        <!-- Fitness Classes Dropdown -->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-dark mr-5" href="#" id="yoga-link" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Classes
            </a>
            <div class="dropdown-menu" aria-labelledby="classesDropdown">
                <a class="dropdown-item" href="{% url 'class_list' %}">All Classes</a>
                <a class="dropdown-item" href="{% url 'my_bookings' %}">My Bookings</a>
                {% if request.user.is_staff %}
                <a class="dropdown-item" href="{% url 'create_class' %}">Create Class</a>
                {% endif %}
            </div>
        </li>
</div>