{% load static %}

<!doctype html>
<html lang="en">
<head>
    {% block meta %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    {% endblock %}

    <title>Zouzou's Fitness {% block extra_title %}{% endblock %}</title>

    {% block corecss %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" crossorigin="anonymous">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato&display=swap">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block extra_css %}{% endblock %}

    {% block corejs %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" crossorigin="anonymous"></script>
        <script src="https://js.stripe.com/v3/"></script>
    {% endblock %}

    {% block extra_js %}{% endblock %}
</head>
<body>
    <header class="container-fluid fixed-top">
        <div class="row bg-white pt-2 pb-2 d-none d-lg-flex">
            <div class="col-lg-4 text-center text-lg-left">
                <a href="{% url 'home' %}" class="nav-link">
                    <h2 class="logo-font my-0"><strong>Zouzou's</strong> Fitness</h2>
                </a>
            </div>
            <div class="col-lg-4">
                <form method="GET" action="{% url 'products' %}">
                    <div class="input-group">
                        <input class="form-control" type="text" name="q" placeholder="Search our site">
                        <div class="input-group-append">
                            <button class="btn btn-dark" type="submit"><i class="fas fa-search"></i></button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-4 text-center text-lg-right">
                <ul class="list-inline m-0">
                    <li class="list-inline-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" id="accountDropdown" data-toggle="dropdown">
                            <i class="fas fa-user"></i> My Account
                        </a>
                        <div class="dropdown-menu">
                            {% if request.user.is_authenticated %}
                                {% if request.user.is_superuser %}
                                    <a class="dropdown-item" href="">Product Management</a>
                                {% endif %}
                                <a class="dropdown-item" href="{% url 'profile' %}">My Profile</a>
                                <a class="dropdown-item" href="{% url 'account_logout' %}">Logout</a>
                            {% else %}
                                <a class="dropdown-item" href="{% url 'account_signup' %}">Register</a>
                                <a class="dropdown-item" href="{% url 'account_login' %}">Login</a>
                            {% endif %}
                        </div>
                    </li>
                    <li class="list-inline-item">
                        <a href="{% url 'view_bag' %}" class="nav-link {% if grand_total %}text-info font-weight-bold{% endif %}">
                            <i class="fas fa-shopping-bag"></i>
                            ${{ grand_total|default:"0.00"|floatformat:2 }}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- Mobile Nav -->
        <div class="row bg-white d-lg-none">
            <nav class="navbar navbar-expand-lg navbar-light w-100">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav">
                    <span class="navbar-toggler-icon"></span>
                </button>
                {% include 'includes/mobile-top-header.html' %}
                {% include 'includes/main-nav.html' %}
            </nav>
        </div>
        <div class="row text-center">
            <div class="col bg-black text-white py-1">
                <h6 class="my-1">Free delivery on orders over ${{ free_delivery_threshold }}!</h6>
            </div>
        </div>
    </header>

    {% if messages %}
        <div class="message-container position-fixed w-100" style="top: 70px; z-index: 1050;">
            {% for message in messages %}
                {% with message.level as level %}
                    {% if level == 40 %}
                        {% include 'includes/toasts/toast_error.html' %}
                    {% elif level == 30 %}
                        {% include 'includes/toasts/toast_warning.html' %}
                    {% elif level == 25 %}
                        {% include 'includes/toasts/toast_success.html' %}
                    {% else %}
                        {% include 'includes/toasts/toast_info.html' %}
                    {% endif %}
                {% endwith %}
            {% endfor %}
        </div>
    {% endif %}

    {% block page_header %}{% endblock %}
    {% block content %}{% endblock %}

    {% block postloadjs %}
        <script>
            $('.toast').toast('show');
        </script>
    {% endblock %}
</body>
</html>
