{% extends "base.html" %}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'classes/css/classes.css' %}">
{% endblock %}

{% block content %}
<h2>{{ class.title }}</h2>
<p>{{ class.description }}</p>
<p><strong>Instructor:</strong> {{ class.instructor }}</p>
<p><strong>Time:</strong> {{ class.date }} {{ class.time }}</p>
<p><strong>Price:</strong> ${{ class.price }}</p>

{% if user.is_authenticated %}
  <a href="{% url 'book_class' class.pk %}">Book This Class</a>
{% else %}
  <p><a href="{% url 'account_login' %}">Log in</a> to book this class.</p>
{% endif %}
{% endblock %}

